In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Day 14. Task 03
# Метрики

## 0. Импорты

In [3]:
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score

from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

## 1. Препроцессинг

1. Загрузите снова тот же датафрейм, как и в прошлом задании.

In [4]:
df = pd.read_csv('/content/drive/MyDrive/School21/day14/data/day-of-week-not-scaled.csv')
df

,numTrials,hour,dayofweek,uid_user_0,uid_user_1,uid_user_10,uid_user_11,uid_user_12,uid_user_13,uid_user_14,...,labname_lab02,labname_lab03,labname_lab03s,labname_lab05s,labname_laba04,labname_laba04s,labname_laba05,labname_laba06,labname_laba06s,labname_project1
0,1,5,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,5,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,3,5,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4,5,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,5,5,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1681,9,20,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1682,6,20,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1683,7,20,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1684,8,20,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1685,9,20,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [5]:
X = df.drop(columns = ['dayofweek'])
y = df.dayofweek

2. Воспользуйтесь `train_test_split` с параметрами `test_size=0.2`, `random_state=21` и получите `X_train`, `y_train`, `X_test`, `y_test`. Используйте дополнительный параметр `stratify`.

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2, 
                                                    random_state=21,
                                                    stratify=y)

## 2. SVM

- [sklearn.metrics.accuracy_score](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html)
- [sklearn.metrics.precision_score](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html)
- [sklearn.metrics.recall_score](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.html)
- [sklearn.metrics.roc_auc_score](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html)

1. Обучите SVM, используя параметры, которые оказались лучшими в прошлом задании.
2. В этот раз вам надо будет посчитать несколько метрик сразу: `accuracy`, `precision`, `recall`, `ROC AUC`.

    - `precision` и `recall` должны быть посчитаны для каждого класса (используйте `average='weighted'`)
    - `ROC AUC` должен быть посчитан для каждого класса против каждого другого класса (все возможные попарные комбинации) и после этого примените взвешенное среднее, чтобы получить финальное значение метрики
    - результат работы кода должен выглядить так же, как пример ниже:

```
accuracy is 0.88757
precision is 0.89267
recall is 0.88757
roc_auc is 0.97878
```

 
gridsearch.best_params_:


 {'C': 10, 'class_weight': None, 'gamma': 'auto', 'kernel': 'rbf'}

In [ ]:
svm = SVC(C=10, 
          class_weight = None, 
          gamma = 'auto', 
          kernel = 'rbf', 
          random_state=21, 
          probability=True).fit(X_train, y_train)

In [ ]:
y_predict = svm.predict(X_test)

In [ ]:
print('accuracy is ', round(accuracy_score(y_test, y_predict),5))
print('precision is ', round(precision_score(y_test, y_predict, average='weighted'),5))
print('recall is ', round(recall_score(y_test, y_predict, average='weighted'),5))
print('roc_auc is ', round(roc_auc_score(y_test, svm.predict_proba(X_test), average='weighted', multi_class='ovo'),5))

accuracy is  0.88757
precision is  0.89267
recall is  0.88757
roc_auc is  0.97878

## 3. Decision tree

1. То же самое задание, но для дерева классификации

gridsearch.best_params_:


 {'class_weight': 'balanced', 'criterion': 'gini', 'max_depth': 22}

In [ ]:
dtc = DecisionTreeClassifier(class_weight = 'balanced', 
                             criterion ='gini', 
                             max_depth = 22,
                             random_state=21).fit(X_train, y_train)

In [ ]:
y_predict = dtc.predict(X_test)

In [ ]:
print('accuracy is ', round(accuracy_score(y_test, y_predict),5))
print('precision is ', round(precision_score(y_test, y_predict, average='weighted'),5))
print('recall is ', round(recall_score(y_test, y_predict, average='weighted'),5))
print('roc_auc is ', round(roc_auc_score(y_test, dtc.predict_proba(X_test), average='weighted', multi_class='ovo'),5))

accuracy is  0.89053
precision is  0.89262
recall is  0.89053
roc_auc is  0.93664

## 4. Случайный лес

1. То же самое задание, но для дерева классификации

gridsearch.best_params_:


 {'class_weight': None,
 'criterion': 'gini',
 'max_depth': 28,
 'n_estimators': 50}

In [ ]:
rfc = RandomForestClassifier(class_weight = None,
                             criterion = 'gini',
                             max_depth = 28,
                             n_estimators = 50,
                             random_state=21).fit(X_train, y_train)

In [ ]:
y_predict = rfc.predict(X_test)

In [ ]:
print('accuracy is ', round(accuracy_score(y_test, y_predict),5))
print('precision is ', round(precision_score(y_test, y_predict, average='weighted'),5))
print('recall is ', round(recall_score(y_test, y_predict, average='weighted'),5))
print('roc_auc is ', round(roc_auc_score(y_test, rfc.predict_proba(X_test), average='weighted', multi_class='ovo'),5))

accuracy is  0.92899
precision is  0.93009
recall is  0.92899
roc_auc is  0.99033

## 5. Прогнозы

1. Выберите лучшую модель. Вы можете задаться вопросом, с точки зрения какой метрики, но при расчете вам станет всё очевидно.
2. Проанализируйте: для какого дня недели модель делает больше всего ошибок (в % от общего количество наблюдений этого класса в вашем датасете). Также проанализируйте на какой лаборатороной работе и на каком юзере модель делает больше всего ошибок уже вне зависимости от дней недели.

**Лучшая модель:**


          Случайный лес (RandomForest)

In [ ]:
for day in range(7):
  print(f'day: {day}, error: {sum((y_test != rfc.predict(X_test)) & (y_test == day)) / sum(y_test == day) * 100:.2f}%')

day: 0, error: 25.93%
day: 1, error: 10.91%
day: 2, error: 6.67%
day: 3, error: 2.50%
day: 4, error: 14.29%
day: 5, error: 5.56%
day: 6, error: 1.41%

**Больше всего ошибок модель делает для *понедельника (25,93%)***

In [ ]:
df_ch = pd.DataFrame({'test' : y_test, 'pred': rfc.predict(X_test)})
df_ch['error'] = df_ch.test != df_ch.pred
df_ch.groupby('test').agg({'error': 'sum'})

      error
test
0         7
1         6
2         2
3         2
4         3
5         3
6         1

In [ ]:
X_test

,numTrials,hour,uid_user_0,uid_user_1,uid_user_10,uid_user_11,uid_user_12,uid_user_13,uid_user_14,uid_user_15,...,labname_lab02,labname_lab03,labname_lab03s,labname_lab05s,labname_laba04,labname_laba04s,labname_laba05,labname_laba06,labname_laba06s,labname_project1
1087,67,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
16,1,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
563,14,10,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1381,20,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1199,9,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,156,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1079,59,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1222,22,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1064,50,16,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1243,37,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
df_choice = X_test.drop(columns=['numTrials', 'hour'])
df_choice

,uid_user_0,uid_user_1,uid_user_10,uid_user_11,uid_user_12,uid_user_13,uid_user_14,uid_user_15,uid_user_16,uid_user_17,...,labname_lab02,labname_lab03,labname_lab03s,labname_lab05s,labname_laba04,labname_laba04s,labname_laba05,labname_laba06,labname_laba06s,labname_project1
1087,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
563,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1381,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1079,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1064,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
df_choice = df_choice. apply(lambda x: df_choice.columns[x==1], axis=1, result_type='expand')
df_choice.columns = ['uid', 'labname']
df_choice

              uid           labname
1087  uid_user_14  labname_project1
16     uid_user_2   labname_laba04s
563   uid_user_12    labname_laba05
1381  uid_user_20  labname_project1
1199  uid_user_28  labname_project1
...           ...               ...
1411   uid_user_4  labname_project1
1079  uid_user_14  labname_project1
1222  uid_user_29  labname_project1
1064  uid_user_14  labname_project1
1243  uid_user_26  labname_project1

[338 rows x 2 columns]

In [ ]:
df_choice = pd.concat([df_ch, df_choice], axis=1)
df_choice

      test  pred  error          uid           labname
1087     1     1  False  uid_user_14  labname_project1
16       5     5  False   uid_user_2   labname_laba04s
563      6     6  False  uid_user_12    labname_laba05
1381     3     3  False  uid_user_20  labname_project1
1199     2     2  False  uid_user_28  labname_project1
...    ...   ...    ...          ...               ...
1411     3     3  False   uid_user_4  labname_project1
1079     1     1  False  uid_user_14  labname_project1
1222     2     2  False  uid_user_29  labname_project1
1064     1     1  False  uid_user_14  labname_project1
1243     2     2  False  uid_user_26  labname_project1

[338 rows x 5 columns]

In [ ]:
uid_error = df_choice.groupby('uid').agg({'error': 'sum'})
uid_error

             error
uid
uid_user_1       0
uid_user_10      1
uid_user_12      0
uid_user_13      0
uid_user_14      1
uid_user_15      0
uid_user_16      2
uid_user_17      0
uid_user_18      1
uid_user_19      4
uid_user_2       1
uid_user_20      0
uid_user_21      0
uid_user_22      1
uid_user_23      0
uid_user_24      1
uid_user_25      2
uid_user_26      0
uid_user_27      1
uid_user_28      0
uid_user_29      1
uid_user_3       2
uid_user_30      1
uid_user_31      2
uid_user_4       2
uid_user_6       1
uid_user_8       0

In [ ]:
round(uid_error.error[9] / uid_error['error'].count() * 100, 2)

14.81

**ОТВЕТ:** 
     
        модель совершила наибольшее число ошибок (4) на uid_user_19 - 14,81%

In [ ]:
labname_error = df_choice.groupby('labname').agg({'error': 'sum'})
labname_error

                  error
labname
labname_code_rvw      1
labname_lab03         1
labname_lab03s        1
labname_lab05s        1
labname_laba04        6
labname_laba04s       0
labname_laba05        1
labname_laba06        2
labname_laba06s       2
labname_project1      9

In [ ]:
round(labname_error.error[9] / labname_error['error'].count() * 100, 2)

90.0

**ОТВЕТ:** 
     
        модель совершила наибольшее число ошибок (9) на labname_project1 - 90.00%

3. Сохраните модель.

In [ ]:
import joblib

In [ ]:
joblib_file = "/content/drive/MyDrive/School21/day14/data/best_model_rfc.pkl" 
joblib.dump(rfc, joblib_file)

['/content/drive/MyDrive/School21/day14/data/best_model_rfc.pkl']

## 6. Функция

1. Напишите функцию, которая принимает на вход список разных моделей и соответствующий модели список параметров в виде словаря. Функция возвращает словарь, который содержит все 4 метрики, расмотренных в этом задании, для каждой модели из списка. 
 {'model1': {'accuracy': 0.7, 'precision': 0.5, ... },'model2': {...}}

In [7]:
model = {
                        SVC: {'C': 10,
                            'class_weight': None,
                            'gamma': 'auto', 
                            'kernel': 'rbf',
                            'random_state': 21, 
                            'probability': True},
    DecisionTreeClassifier: {'class_weight': 'balanced', 
                             'criterion': 'gini', 
                             'max_depth': 22,
                             'random_state': 21},
    RandomForestClassifier: {'class_weight': None,
                             'criterion': 'gini',
                             'max_depth': 28,
                             "n_estimators": 50,
                             'random_state': 21}
}

In [13]:
def function (model):

  result = {}
  for i in model:
    parameters = model[i]
    models = i(**parameters)
    fit = models.fit(X_train, y_train)
    y_predict=models.predict(X_test)

    result[i] = {}
    
    result[i]['accuracy'] = accuracy_score(y_test, y_predict)
    result[i]['precision'] = precision_score(y_test, y_predict, average='weighted')
    result[i]['recall'] = recall_score(y_test, y_predict, average='weighted')
    result[i]['roc_auc'] = roc_auc_score(y_test, fit.predict_proba(X_test), average='weighted', multi_class='ovo')
    
    
  return result

In [14]:
function (model)

{sklearn.svm._classes.SVC: {'accuracy': 0.8875739644970414,
  'precision': 0.8926729169690374,
  'recall': 0.8875739644970414,
  'roc_auc': 0.9787793228216216},
 sklearn.tree._classes.DecisionTreeClassifier: {'accuracy': 0.8905325443786982,
  'precision': 0.8926192681313897,
  'recall': 0.8905325443786982,
  'roc_auc': 0.9366351447213223},
 sklearn.ensemble._forest.RandomForestClassifier: {'accuracy': 0.9289940828402367,
  'precision': 0.9300865038851309,
  'recall': 0.9289940828402367,
  'roc_auc': 0.9903274757720744}}

In [ ]:
accuracy is  0.88757
precision is  0.89267
recall is  0.88757
roc_auc is  0.97878

accuracy is  0.89053
precision is  0.89262
recall is  0.89053
roc_auc is  0.93664

accuracy is  0.92899
precision is  0.93009
recall is  0.92899
roc_auc is  0.99033