In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Task 3: предварительная обработка

На будущих проектах вы будете снова обучать модели машинного обучения (уже совсем скоро), но для большинства из них требуются очищенные и обработанные данные, без повторов и пропущенных значений. Библиотека Pandas — отличный инструмент для решения подобного рода задач. Она предлагает не только методы выполнения дескриптивного анализа и лучшего понимания данных, но и средства их предварительной обработки. Именно этим вы займетесь в данном упражнении.

<h2>
1. Скачайте и прочитайте CSV-файл (auto.csv), сделайте ID столбцом индекса.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/MyDrive/School21/day10/task3/data/auto.csv', 
                    index_col='ID')
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

<h2>
2. Подсчитайте количество наблюдений с помощью метода count().

In [4]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

<h2>
3. Удалите дубликаты только в следующих столбцах: CarNumber, Make_n_model, Fines.

- Если имеются два и более одинаковых наблюдения, оставьте наблюдение, которое идет по порядку последним.
- Снова проверьте количество наблюдений.

- [pandas.DataFrame.drop_duplicates](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html)

In [6]:
df.drop_duplicates(['CarNumber', 'Make_n_model', 'Fines'], keep='last', inplace=True)

In [7]:
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

<h2>
4. Работа с пропущенными значениями

- Проверьте, сколько значений отсутствует в каждом столбце.
- Удалите все столбцы с более чем 500 пропущенными значениями, используя аргумент thresh.
- Замените все пропущенные значения в столбце Refund предыдущим для данной ячейки значением в этом столбце, используйте аргумент method, проверьте, сколько значений теперь отсутствует в каждом столбце.
- Замените все пропущенные значения в столбце Fines средним значением этого столбца (исключите значения NA/null при вычислении среднего значения), проверьте теперь количество пропущенных значений в каждом столбце.

- [pandas.DataFrame.isna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html)
- [pandas.DataFrame.dropna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)
- [pandas.DataFrame.fillna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)

In [8]:
# проверьте, сколько значений отсутствует в каждом столбце.

df.isna().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [9]:
# удалите все столбцы с более чем 500 пропущенными значениями, используя аргумент thresh.

df.dropna(axis=1, thresh=500, inplace=True)
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [10]:
# замените все пропущенные значения в столбце Refund предыдущим для данной ячейки значением в этом столбце, 
# используйте аргумент method, проверьте, сколько значений теперь отсутствует в каждом столбце.

df.Refund.fillna(method="ffill", inplace=True)
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [11]:
# замените все пропущенные значения в столбце Fines средним значением этого столбца 
# (исключите значения NA/null при вычислении среднего значения), проверьте теперь количество пропущенных значений в каждом столбце.

df.Fines.fillna(df.Fines.mean(), inplace=True)
df.isna().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

<h2>
5. Разбейте название марки и модели автомобиля на отдельные столбцы.

- Используйте метод apply как для разбиения, так и для извлечения значений в новые колонки Make и Model.
- Удалите столбец Make_n_model.
- Сохраните датафрейм в JSON-файл auto.json в следующем формате:
  * [{"CarNumber":"Y163O8161RUS","Refund":2.0,"Fines":3200.0,"Make":"Ford","Model":"Focus"},{"CarNumber":"E432XX77RUS","Refund":1.0,"Fines":6500.0,"Make":"Toyota","Model":"Camry"}]

- [pandas.DataFrame.apply](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)
- [pandas.DataFrame.to_json](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html)

In [12]:
# используйте метод apply как для разбиения, так и для извлечения значений в новые колонки Make и Model.

df['Make_n_model'] = df['Make_n_model'].apply(func=lambda x: x.split())
df

        CarNumber       Make_n_model  Refund         Fines
ID
0    Y163O8161RUS      [Ford, Focus]     2.0   3200.000000
1     E432XX77RUS    [Toyota, Camry]     1.0   6500.000000
2     7184TT36RUS      [Ford, Focus]     1.0   2100.000000
3    X582HE161RUS      [Ford, Focus]     2.0   2000.000000
5    92918M178RUS      [Ford, Focus]     1.0   5700.000000
..            ...                ...     ...           ...
926  Y163O8161RUS      [Ford, Focus]     2.0   1600.000000
927  M0309X197RUS      [Ford, Focus]     1.0  22300.000000
928  O673E8197RUS      [Ford, Focus]     2.0    600.000000
929  8610T8154RUS      [Ford, Focus]     1.0   2000.000000
930  H419XE197RUS  [Toyota, Corolla]     2.0   8594.586466

[725 rows x 4 columns]

In [13]:
df['Make'] = df['Make_n_model'].apply(lambda x: x[0])
df['Model'] = df['Make_n_model'].apply(lambda x: x[-1] if len(x) > 1 else None)

In [14]:
df

        CarNumber       Make_n_model  Refund         Fines    Make    Model
ID
0    Y163O8161RUS      [Ford, Focus]     2.0   3200.000000    Ford    Focus
1     E432XX77RUS    [Toyota, Camry]     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS      [Ford, Focus]     1.0   2100.000000    Ford    Focus
3    X582HE161RUS      [Ford, Focus]     2.0   2000.000000    Ford    Focus
5    92918M178RUS      [Ford, Focus]     1.0   5700.000000    Ford    Focus
..            ...                ...     ...           ...     ...      ...
926  Y163O8161RUS      [Ford, Focus]     2.0   1600.000000    Ford    Focus
927  M0309X197RUS      [Ford, Focus]     1.0  22300.000000    Ford    Focus
928  O673E8197RUS      [Ford, Focus]     2.0    600.000000    Ford    Focus
929  8610T8154RUS      [Ford, Focus]     1.0   2000.000000    Ford    Focus
930  H419XE197RUS  [Toyota, Corolla]     2.0   8594.586466  Toyota  Corolla

[725 rows x 6 columns]

In [15]:
# удалите столбец Make_n_model

df.drop(columns='Make_n_model', inplace=True)
df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

In [17]:
# Сохраните датафрейм в JSON-файл auto.json в следующем формате:
# [{"CarNumber":"Y163O8161RUS","Refund":2.0,"Fines":3200.0,"Make":"Ford","Model":"Focus"},
#  {"CarNumber":"E432XX77RUS","Refund":1.0,"Fines":6500.0,"Make":"Toyota","Model":"Camry"}]

df.to_json('/content/drive/MyDrive/School21/day10/task3/data/auto.json', orient='records')